
/*game1 properties*/

.back-clr {
    background-color: wheat;

}

.ti-tle {
    color: rgb(148, 89, 0); font-weight: bold; position: absolute; left: 40%; top: 8%;
}

.clr {
    color: rgb(148, 89, 0); position: absolute;
    left: 5%;
    top: 24%;
}




/*game2 properties*/

.flx {
    display: flex; align-content: center;
    /* flex-direction: column; */
     margin: 2.5%;  
}



.back-clr2 {
    background-color:  wheat; 
}

.ti1-tle1 {

    color: rgb(148, 89, 0);  font-weight: bold; font-style: italic; 
}


.ti1-tle {

    color: white;
}

.back1 {
   height: 5%; width: 12%; background-color: rgb(148, 89, 0);
    /* margin-right: 41.5%;  margin-left: 41.5%; */
    /* position: absolute; left: 42%; top: 8%;  */
}


.pos1 {
    /* width: 40%;
    height: 25%;  */
    /* position: absolute; left: 5%; top: 17%;  */
}

.pos1 img {
    width: 100%; height: 100%;
}

.clr22 {
    color: rgb(148, 89, 0);
}
.pos2 {
    width:100% ; 
    /* position: absolute; left: 5%; top: 50%;  */
}

.ob-1 {
    color: rgb(148, 89, 0); font-weight: bold;
}

.pos3 {
    background-color: rgb(148, 89, 0); border: none; color: burlywood; 
    /* google font used on the button */
    font-family: 'Yellowtail', cursive;
}

.pos5 {
    
    /* margin-left: 62%;margin-right: 5%; */
    /* width: 48%;  */
}
     

.pos5 img {
    width: 600px; height: 600px;
    animation: rotation 10s infinite linear;
    margin-top: 50%;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.pos6 {
    width: 40%; margin-bottom: 2.5%; margin-top: 10%;
}

